body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

img{
    width:275px;
    height:275px;
}

#a{
  display: grid;
  /* grid-template-columns: 22% 22% 22%;
  grid-template-rows: 300px 300px; */
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  background-color: dodgerblue;
  row-gap: 40px;
  column-gap: 20px;
  /* padding: 30px; */
}

.grid-item {
  text-align: center;
}